extends layout
block content
  include partials/nav
  .row.main-section.userprofile
    .col-md-4.d-flex.justify-content-end
      p 
        img(src=currentUser.imgThumb, id='profileicon')
    .col-md-8
      .col-md-2.ordenado
        h3(class="Uname") #{currentUser.username} 
        button(type="button", class="btn btn-info btn-md",id='btn', data-toggle="modal", data-target="#myModal") edit profile   
        | 
        i(class="fa fa-cogs" aria-hidden="true" id='iconSetting')
        #myModal.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Pofile Pic & Bio
              .modal-body
                form(action=`/users/${currentUser.username}`, method='post',enctype='multipart/form-data')
                  .form-group
                    label(for='bio') Bio
                    input.form-control(name='bio',type='text')
                  .form-group
                    label(for='image') Image
                    input.form-control(name='image',type='file',id='file-upload')
                  .form-group
                    input(type='submit')
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close
      .col-md-2.ordenado
        p #{currentUser.bio}    
  .container.d-flex.justify-content-around
    each post in user.posts
      .col-md-4
        .card
          .card-header
            div.d-flex.justify-content-start.align-items-center
               p.user_name  #{currentUser.username}
          img.card-img-top.image-responsive(src=post.imgUrl, alt='Card image cap')
          .card-block
            p.card-text
            |#{post.post}
          .card-title
            i.fa.fa-heart-o(aria-hidden='true')
            button(type="button",class="btn-comment",onclick="commentboxshow()")
              i.fa.fa-comment-o(aria-hidden='true')
          .card-footer